# URL for the imgproxy server
IMGPROXY_URL=http://imgproxy:8080

# This will only allow images from example.com and coolify.io to be resized.
# use "*" to allow all domains
ALLOWED_REMOTE_DOMAINS=example.com,coolify.io

# Render will usually provide PORT automatically.
PORT=3000

# Proxy /uploads/* to this upstream prefix.
# Example: https://xxx.com/uploads/a.jpg -> https://ny-1s.enzonix.com/bucket-1286-1793/uploads/a.jpg
UPLOADS_PROXY_SOURCE=https://ny-1s.enzonix.com/bucket-1286-1793
